:root {
    --color-blue-darkest: #253856;
    --color-blue-deep:    #3D568F;
    --color-blue-main:    #A0B9F2;
    --color-blue-soft:    #A6B7CB;
    --color-white:        #FDFDF5;
    --color-beige:        #EFEED4;
    --color-green:        #EAF3B2;
    --color-brown:        #50463C;
}

/* 1. Panama — пропорциональный шрифт (обычный) */
@font-face {
    font-family: 'Panama';
    src: url('../fonts/Panama-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Panama';
    src: url('../fonts/Panama-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Panama';
    src: url('../fonts/Panama-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* 2. Panama Monospace — моноширинный (латинский + кириллица) */
@font-face {
    font-family: 'Panama Monospace';
    src: url('../fonts/PanamaMonospace-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Panama Monospace';
    src: url('../fonts/PanamaMonospace-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Panama Monospace';
    src: url('../fonts/PanamaMonospace-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* 4. Coventry Garden (рукописный) */
@font-face {
    font-family: 'CoventryC';
    src: url('../fonts/coventryc.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: #4e443c;
    font-family: 'Panama', "Panama Monospace", "CoventryC", monospace;
}
